.component-contact {
	.contact-form {
		border: solid blue 1px;
	
	}
	.form-body {
		border: solid red 1px;
		width: 80%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 0 20px 0 20px;
	}
	.form-label {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.contact-email {
		border: solid black 1px;
		margin-bottom: 20px;
	}
	.contact-body {
		border: solid black 1px;
		margin-bottom: 20px;
	}
	.contact-submit-btn {
		border: solid black 1px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 20px;

	}
}